<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML & CSS Training</title>
  <meta name="description" content="training">
  <meta name="author" content="Wolox">
  <link rel="stylesheet"  type="text/css" href="../application.css">
</head>
<body>
  <div class="navbar">
      <img class="logo-img" src="../assets/Logo-wolox.png" alt="logo wolox">
      <a class="logout">Logout</a>
  </div>
  <div class="books-list-container">
    <div class="books-list-box">
      <div class="book-list-cover">
          <img class="book-img" src="../assets/book-cover.png" alt="book cover">
      </div>
      <div class="books-list-info">
        <h3 class="book-title">Título del libro</h3>
        <h3 class="book-author">Autor del libro</h3>
      </div>
    </div>
    <div class="books-list-box">
        <div class="book-list-cover">
            <img class="book-img" src="../assets/book-cover.png" alt="book cover">
        </div>
        <div class="books-list-info">
          <h3 class="book-title">Título del libro</h3>
          <h3 class="book-author">Autor del libro</h3>
        </div>
    </div>
    <div class="books-list-box">
        <div class="book-list-cover">
            <img class="book-img" src="../assets/book-cover.png" alt="book cover">
        </div>
        <div class="books-list-info">
          <h3 class="book-title">Título del libro</h3>
          <h3 class="book-author">Autor del libro</h3>
        </div>
    </div>
    <div class="books-list-box">
        <div class="book-list-cover">
            <img class="book-img" src="../assets/book-cover.png" alt="book cover">
        </div>
        <div class="books-list-info">
          <h3 class="book-title">Título del libro</h3>
          <h3 class="book-author">Autor del libro</h3>
        </div>
    </div>
    <div class="books-list-box">
      <div class="book-list-cover">
          <img class="book-img" src="../assets/book-cover.png" alt="book cover">
      </div>
      <div class="books-list-info">
        <h3 class="book-title">Título del libro</h3>
        <h3 class="book-author">Autor del libro</h3>
      </div>
    </div>
    <div class="books-list-box">
        <div class="book-list-cover">
            <img class="book-img" src="../assets/book-cover.png" alt="book cover">
        </div>
        <div class="books-list-info">
          <h3 class="book-title">Título del libro</h3>
          <h3 class="book-author">Autor del libro</h3>
        </div>
    </div>
    <div class="books-list-box">
        <div class="book-list-cover">
            <img class="book-img" src="../assets/book-cover.png" alt="book cover">
        </div>
        <div class="books-list-info">
          <h3 class="book-title">Título del libro</h3>
          <h3 class="book-author">Autor del libro</h3>
        </div>
    </div>
    <div class="books-list-box">
        <div class="book-list-cover">
            <img class="book-img" src="../assets/book-cover.png" alt="book cover">
        </div>
        <div class="books-list-info">
          <h3 class="book-title">Título del libro</h3>
          <h3 class="book-author">Autor del libro</h3>
        </div>
    </div>
  </div>
</body>
</html>
