<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML & CSS Training</title>
  <meta name="description" content="training">
  <meta name="author" content="Wolox">
  <link rel="stylesheet"  type="text/css" href="../application.css">
</head>
<body>
  <div class="book-detail-container">
    <div class="book-detail-box">
      <div class="book-detail-cover">
          <img class="book-img" src="../assets/book-cover.png" alt="book cover">
          <img class="book-badge" src="../assets/badge.png" alt="book badge">
      </div>
      <div class="book-detail-info">
        <div class="book-title">
          Título del libro
          <h3 class="value">(género)</h3>
        </div>
        <div class="book-field">
          Autor del libro:
          <h3 class="value">Nombre del autor del libro</h3>
        </div>
        <div class="book-field">
          Editorial:
          <h3 class="value">Nombre de la editorial</h3>
        </div>
        <div class="book-field">
          Año de publicación: 
          <h3 class="value">Año de publicación</h3>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
