.back-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  height: 35px;
  position: absolute;
  width: 92px;

  &::before {
      background-image: url('assets/back-arrow.png');
      background-repeat: no-repeat;
      background-size: 23px;
      content: '';
      padding-left: 33px;
  }
}
