.back-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  height: 25px;
  left: 240px;
  position: absolute;
  top: 30px;
  width: 82px;

  &::before {
      background-image: url('assets/back-arrow.png');
      background-repeat: no-repeat;
      background-size: 23px;
      content: 'Atrás';
      padding-left: 33px;
  }
}
