.book-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    height: 417px;
    
    .book-cover {
        width: 260px;
        margin: 27px;
    }

    .book-detail {
        margin: 27px;

        .book-title {
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 60px;

            .value {
                font-size: 27px;  
                opacity: 0.5;
            }
        }

        .book-field {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 40px;
        }

        .value {
            font-size: 17px;  
            opacity: 0.5;
        }
    }
}
