.book-detail-container {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 10px;

    .book-detail-box {
        background-color: white;
        box-shadow: 2px 4px 6px #999;
        display: flex;
        flex-direction: row;
        height: 417px;
        margin: 10px;
        padding: 15px;
        width: 900px;
        
        .book-detail-cover {        
            position: relative;

            .book-img {
                margin: 7px 30px 7px 7px;
                width: 260px;
            }
    
            .book-badge {
                height: 100px;
                position: absolute;
                right: 5px;
                top: -8px;
                transform: rotate(20deg);
                width: 70px;
            }
        }
    
        .book-detail-info {
            margin: 7px 7px 7px 30px;
            width: 590px;
    
            .book-title {
                border-bottom: 5px solid #bed23d;
                font-size: 27px;
                font-weight: 600;
                margin-bottom: 40px;
                padding-bottom: 20px;
                
                .value {
                    font-size: 27px;  
                    opacity: 0.5;
                }
            }
    
            .book-field {
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 40px;
            }
    
            .value {
                font-size: 17px;  
                opacity: 0.5;
            }
        }
    }
}
