.book-box {
    display: flex;
    justify-content: center;
    .book-detail {
        .book-title {
            font-size: 35px;
            margin-bottom: 25px;
        }

        .book-field {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .value {
            font-size: 20px;  
            opacity: 0.5;
        }
    }
}
